In [42]:
# Read data from 
import pandas as pd
col_names = ['age', 'gender', 'SBP', 'DBP', 'diabetes', 'heart_diseases', 'F_H_stroke', 'alcoholic', 'Phy_active','smoking',
                'depression','S_fat_up','fibre_dwn','CKD_kidney','cl_attribute']
balance_data = pd.read_csv('thesis_data_conf_15.csv',names=col_names)

In [43]:
binary.head()

,age,gender,SBP,DBP,diabetes,heart_diseases,F_H_stroke,alcoholic,Phy_active,smoking,depression,S_fat_up,fibre_dwn,CKD_kidney,cl_attribute
0,55,1,140,85,1,0,0,0,0,0,1,0,0,0,1
1,53,1,120,85,0,0,1,0,0,0,1,0,0,0,1
2,49,1,120,85,0,0,1,0,0,0,1,0,0,0,0
3,48,0,120,85,0,0,1,0,0,0,1,0,0,0,1
4,47,0,130,85,1,0,1,0,0,1,1,0,0,0,1

In [44]:
# balance_data.dtypes.index
# # Drop a column
# balance_data.drop('Unnamed: 3', axis=1, inplace=True)
# # Target Variable to be made {-1, 1}
# balance_data.Spend_Drop_over50pct.replace([0, 1], ['A', 'B'], inplace=True)

# # Print a few rows
# balance_data.head()

# # Count Target Variable Values
# balance_data.Spend_Drop_over50pct.value_counts()
# # Find % Values of Target Variable Levels
# round(balance_data.Spend_Drop_over50pct.value_counts()*100/len(balance_data.axes[0]),2)

In [45]:
# Split sample into Train and Test
from sklearn.cross_validation import train_test_split
Train,Test = train_test_split(binary, test_size = 0.3, random_state = 176)
# Print a few rows
Train.head()

,age,gender,SBP,DBP,diabetes,heart_diseases,F_H_stroke,alcoholic,Phy_active,smoking,depression,S_fat_up,fibre_dwn,CKD_kidney,cl_attribute
145,85,1,110,75,1,0,1,0,1,0,1,0,0,0,1
417,70,0,150,85,1,1,1,0,1,0,1,0,0,1,1
316,65,0,125,85,1,0,1,0,0,0,0,1,0,1,1
366,68,1,155,80,1,0,0,0,1,0,1,0,0,1,1
247,67,1,130,85,1,1,1,0,1,0,1,0,0,1,0

In [46]:
# Keep Target and Independent Variable into different array
Train_IndepentVars = Train.values[:, 3:5]
Train_TargetVar = Train.values[:,14]

In [47]:
# Load library
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
# Building Decision Tree - CART Algorithm (gini criteria)
dt_train_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=5, min_samples_leaf=5)
# Train
dt_train_gini.fit(Train_IndepentVars, Train_TargetVar)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [52]:
with open("dt_train.pdf", "w") as f:
    f = tree.export_graphviz(dt_train_gini, out_file=f)